---
import styles from './input.module.css'

interface Props extends astroHTML.JSX.TextareaHTMLAttributes{
  label?: string,
  errors?: string[]
}

const {errors, id, label = '', placeholder = '', ...props } = Astro.props
---

<div class={styles.group}>
  <label
    class={styles.label}
    for={id}
  >{label}</label>
  <textarea
    class:list={[
      styles.input,
      {[styles.invalid]: errors?.length}
    ]}
    id={id}
    name={id}
    placeholder={placeholder},
    {...props}
  ></textarea>
  {errors?.map(error => (
    <small class={styles.invalidFeedback}>{error}</small>
  ))}
</div>