---
import Input from "./Form/Input.astro"
import Textarea from "./Form/Textarea.astro"
import { Resend } from "resend"

type Errors = {
  fullname: string[]
  email: string[],
  subject: string[],
  message: string[],
}

const errors: Errors = {
  fullname: [],
  email: [],
  subject: [],
  message: [],
}

if(Astro.request.method === 'POST') {
  try {

    const data = await Astro.request.formData()
    const fullname = data.get('fullname')
    const email = data.get('email')
    const subject = data.get('subject')
    const message = data.get('message')

    if(!fullname) {
      errors.fullname.push('El nombre completo es requerido')
    }

    if(!email) {
      errors.email.push('El correo es requerido')
    }

    if(!subject) {
      errors.subject.push('El asunto es requerido')
    }

    if(!message) {
      errors.message.push('El mensaje es requerido')
    }

    const thereIsSomeError = Object.values(errors).some(arr => arr.length)

    if(!thereIsSomeError) {
      const resend = new Resend(import.meta.env.RESEND_API_KEY)

      await resend.emails.send({
        from: 'onboarding@resend.dev',
        to: 'homermoncallo@gmail.com',
        subject: `${subject}`,
        html: `
          <b>Nombre completo</b>: ${fullname}
          <br>
          <b>Correo</b>: ${email}
          <br>
          <b>Asunto</b>: ${subject}
          <br>
          ${message}
        `
      })
    }

  } catch(err) {
    console.log(err)
  }
}
---

<div class="section-contact">
  <div class="contact-section">
    <form method="post" novalidate>
      <div class="cols">
        <Input
          type="text",
          id="fullname"
          label="Nombre y apellido"
          placeholder='John Doe'
          errors={errors.fullname}
          required
        />
        
        <Input
          type="text",
          id="subject"
          label="Asunto"
          placeholder='Necesito una web.'
          errors={errors.subject}
          required
        />
      </div>
      <Input
        type="email",
        id="email"
        label="Correo"
        placeholder='john@doe.com'
        errors={errors.email}
        required
      />
      <Textarea
        id="message",
        label="Tu mensaje"
        rows={5}
        placeholder="Requiero una pagina web para mi negocio."
        errors={errors.message}
        required
      />
    
      <button type="submit" class="button button--primary">
        Enviar
        <i class="fa fa-paper-plane"></i>
      </button>
    </form>
  </div>
  <div class="image-section">
    <div class="image"></div>
  </div>
</div>

<style>
  .image-section img {
    display: none;
  }

  .section-contact {
    margin-top: 3.5rem;
  }

  @media (min-width: 1200px) {
    .section-contact {
      display: flex;
      background-color: #f5f5f5;
      border-radius: 10px;
      /* gap: 4rem; */
    }

    .contact-section {
      width: 60%;
      padding: 4rem 3rem 4rem 4rem;
    }

    .image-section {
      width: 40%;
      padding: 2rem;
    }

    .image-section img {
      display: block;
    }
  }

  .image {
    width: 100%;
    height: 100%;
    background-image: url(/assets/img/astronauta.jpg);
    border-radius: 10px;
    background-position: center;
  }
</style>