---
interface Props {
  image: string,
  title: string,
  stacks?: string[],
  slug: string
}

const { title, image, stacks = [], slug } = Astro.props

---
<article data-project-slug={slug} class={stacks.map(stack => stack.toLowerCase()).join(' ')}>
  <a href={`#${slug}`} class="project-wrapper">
    <img class="project-img" src={image} alt={title}>
  </a>
  <h3>
    <a href="#">{title}</a>
  </h3>
  {stacks.map(stack => (
    <a class="category" href="#">{stack}</a>
  ))}
</article>
<style>
  .project-wrapper {
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  article:hover img {
    transform: scale(1.3);
  }
  
  img {
    transition: transform .3s;
    display: block;
    aspect-ratio: 16/10;
    object-fit: cover;
  }

  a:has(img) {
    display: block;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  h3 {
    font-weight: 500;
  }

  h3 a:hover {
    color: var(--primary);
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: var(--primary);
  }

  .category {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .category:hover {
    color: var(--primary);
  }

  .category::before {
    content: '#';
  }

  .category:not(:last-child)::after {
    content: ', ';
  }
</style>